<% provide(:title, "#{@user.pinboard}'s comments") %>
<div class="row">
  <aside class="span3">
    <section>
        <%= render 'shared/user_info' %> 
    </section>
    <section>
        <%= render 'shared/stats' %>
    </section>
    </aside>
    <div class="span9">
        <%= render 'follow_form' if signed_in? %>
        <% if @user.links.any? %>
            <h3>Comments</h3>
            <ol class="link-feed">
                <%= render @comments %>
            </ol>
            <%= will_paginate @comments %>
        <% end %>
    </div>
</div>

