<% provide(:title, "#{@user.pinboard}'s shared items") %>
<div class="row">
  <aside class="span3">
    <section>
        <%= render 'shared/user_info' %> 
    </section>
    <section>
        <%= render 'shared/stats' %>
    </section>
    </aside>
    <div class="span9">
        <%= render 'follow_form' if signed_in? %>
        <% if @user.links.any? %>
            <h3>Shared items</h3>
            <ol class="link-feed">
                <%= render @links %>
            </ol>
            <%= will_paginate @links %>
        <% end %>
    </div>
</div>
